
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.esgmtxjujbrtwrodbhci:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.esgmtxjujbrtwrodbhci:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

JWT_ACCESS_SECRET=YOUR-ACCESS
JWT_REFRESH_SECRET=YOUR-REFRESH  
SUPABASE_SERVICE_ROLE_KEY=YOUR-SERVICE
SUPABASE_URL=your-supabase-url
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key